
.nav-link{
    color:white !important;
}
.card{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 50px;
}
.h1{
    font-size: 40px;
}
p{
    font-size: 27px;
}
strong{
    color:rgb(83, 83, 235);
}

.img-fluid:hover{
    box-shadow: 2px 5px 8px 3px #b1aeae;
    border-radius: 20px;

}